.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/workspace/BoundingBoxTest/.project

workspace/tue.glt.boundingbox.dsl.ide/
workspace/tue.glt.boundingbox.dsl.tests/
workspace/tue.glt.boundingbox.dsl.ui.tests/
workspace/tue.glt.boundingbox.dsl.ui/
workspace/tue.glt.boundingbox.dsl/.antlr-generator-3.2.0-patch.jar
workspace/tue.glt.boundingbox.dsl/.project
workspace/tue.glt.boundingbox.dsl/META-INF/
workspace/tue.glt.boundingbox.dsl/build.properties
workspace/tue.glt.boundingbox.dsl/src-gen/
workspace/tue.glt.boundingbox.dsl/src/tue/glt/boundingbox/dsl/BBDSLRuntimeModule.xtend
workspace/tue.glt.boundingbox.dsl/src/tue/glt/boundingbox/dsl/BBDSLStandaloneSetup.xtend
workspace/tue.glt.boundingbox.dsl/src/tue/glt/boundingbox/dsl/GenerateBoundingBoxDsl.mwe2
workspace/tue.glt.boundingbox.dsl/src/tue/glt/boundingbox/dsl/formatting/
workspace/tue.glt.boundingbox.dsl/src/tue/glt/boundingbox/dsl/generator/
workspace/tue.glt.boundingbox.dsl/src/tue/glt/boundingbox/dsl/scoping/
workspace/tue.glt.boundingbox.dsl/src/tue/glt/boundingbox/dsl/validation/
workspace/tue.glt.boundingbox.dsl/xtend-gen/
workspace/tue.glt.boundingbox.edit/
workspace/tue.glt.boundingbox.editor/
workspace/tue.glt.boundingbox.tests/
workspace/tue.glt.boundingbox/.project
workspace/tue.glt.boundingbox/META-INF/
workspace/tue.glt.boundingbox/build.properties
workspace/tue.glt.boundingbox/model/BoundingBox.genmodel
workspace/tue.glt.boundingbox/plugin.properties
workspace/tue.glt.boundingbox/plugin.xml
workspace/tue.glt.boundingbox/src/
workspace/BoundingBoxTest/.project
workspace/tue.glt.platoon.dsl.ide/
workspace/tue.glt.platoon.dsl.tests/
workspace/tue.glt.platoon.dsl.ui.tests/
workspace/tue.glt.platoon.dsl.ui/
workspace/tue.glt.platoon.dsl/.antlr-generator-3.2.0-patch.jar
workspace/tue.glt.platoon.dsl/.project
workspace/tue.glt.platoon.dsl/META-INF/
workspace/tue.glt.platoon.dsl/build.properties
workspace/tue.glt.platoon.dsl/src-gen/
workspace/tue.glt.platoon.dsl/src/tue/glt/platoon/dsl/GeneratePlatoonDsl.mwe2
workspace/tue.glt.platoon.dsl/src/tue/glt/platoon/dsl/PDSLRuntimeModule.xtend
workspace/tue.glt.platoon.dsl/src/tue/glt/platoon/dsl/PDSLStandaloneSetup.xtend
workspace/tue.glt.platoon.dsl/src/tue/glt/platoon/dsl/formatting/
workspace/tue.glt.platoon.dsl/src/tue/glt/platoon/dsl/generator/
workspace/tue.glt.platoon.dsl/src/tue/glt/platoon/dsl/scoping/
workspace/tue.glt.platoon.dsl/src/tue/glt/platoon/dsl/validation/
workspace/tue.glt.platoon.dsl/xtend-gen/
workspace/tue.glt.platoon.edit/
workspace/tue.glt.platoon.editor/
workspace/tue.glt.platoon.tests/
workspace/tue.glt.platoon/.project
workspace/tue.glt.platoon/META-INF/
workspace/tue.glt.platoon/build.properties
workspace/tue.glt.platoon/model/Platoon.genmodel
workspace/tue.glt.platoon/plugin.properties
workspace/tue.glt.platoon/plugin.xml
workspace/tue.glt.platoon/src/
runtime-EclipseApplication/
workspace/PlatoonTest/.project
workspace/tue.glt.platoon/output/master.nxc
workspace/tue.glt.platoon/output/slave.nxc
workspace/org.eclipse.epsilon.examples.egl.flowchart/
workspace/tue.glt.platoon/model/MyTestPlatoon.platoon
workspace/tue.glt.platoon/model/Platoon.emf
workspace-minimal.zip
workspace/tue.glt.boundingbox/model/BoundingBox.emf
workspace/tue.glt.platoon2boundingbox/result.boundingbox
workspace/tue.glt.boundingbox/output/
